body {
  background-image: url("../images/robo.png") !important;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  background-color: #151E2F;
}

.lightbox {
  background-color: fade(black, 80%);  
  overflow: scroll;
  position: fixed;
  display: none;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  
  &-container {
    position: relative;
    max-width: 960px;
    margin: 7% auto;
    display: block;    
    padding: 0 3%;
    height: auto;
    z-index: 10;
    
    // Increasing top margin for mobile
    @media screen and (max-width: 768px) { margin-top: 10%; }
    @media screen and (max-width: 414px) { margin-top: 13%; }
  }
    
  &-content {
    box-shadow: 0 1px 6px fade(black, 70%);
  }
  
  &-close {
    text-transform: uppercase;    
    background: transparent;
    position: absolute; 
    font-weight: 300;      
    font-size: 12px;
    display: block;
    border: none;
    color: white;
    top: -22px;
    right: 3%;
  }
}

.video-container {  
    padding-bottom: 56.25%;
    position: relative;  
    padding-top: 30px; 
    overflow: hidden;
    height: 0; 
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    width: 70%;  
    left: 0;  
    top: 0;
}

#container {
  border-radius: 4px;
  max-width: 300px;
  height: auto;
  padding: 50px;
  background: white;
  margin: 100px auto;
}

#playme {
  background: #007fed;
  text-transform: uppercase;
  font-weight: 300;
  border: none;
  color: white;
  padding: 10px 15px;
  display: inline-block;
  font-size: 14px;
  margin: 0;
}

.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:25px;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  }
  /* :checked - resize to full height */
  .tab input:checked ~ .tab-content {
  max-height: 100vh;
  }
  /* Label formatting when open */
  .tab input:checked + label{
  /*@apply text-xl p-5 bg-gray-100 text-indigo*/
  padding: 1.25rem; /*.p-5*/
  background-color: #f8fafc; /*.bg-gray-100 */
  color: #151E2F; /*.text-indigo*/
  font-weight: bold;
  }
  /* Icon */
  .tab label::after {
  float:right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  }
  /* Icon formatting - closed */
  .tab input[type=checkbox] + label::after {
  content: "+";
  font-weight:bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
  }
  .tab input[type=radio] + label::after {
  content: "\25BE";
  font-weight:bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
  }
  /* Icon formatting - open */
  .tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
  background-color: #1D4ED8; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
  }
  .tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
  background-color: #1D4ED8; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
  }